@model IEnumerable<Splendor.Models.Card>

@{
    ViewBag.Title = "Index";
}

<h2>Cards</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { }, new { @class = "btn" })
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Points)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lvl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostGreen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostWhite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostBlue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostBlack)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostRed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImagePath)
        </th>
        <th>
            Gem
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Points)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lvl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostGreen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostWhite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostBlue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostBlack)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostRed)
            </td>
            <td>
                <img src="@Url.Content(item.ImagePath)" alt="@item.ImagePath" />
            </td>
            <td>
                <img src="@Url.Content(item.Gem.ImagePath)" alt="@item.Gem.Name" />
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn" }) <br/>
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn" }) <br/>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn" })
            </td>
        </tr>
    }

</table>
